*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.nav{
    background-color: rgb(37, 173, 237);
}

.contac {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.contac p{
    margin: 0 10px;
  }
  
.contac .hamburguer{
    margin-left: auto;
  }

img{
    height: 200px;
    width: 200px;
}
.imagenes{
    display: grid;
    align-items: center;
    align-content: center;
    box-shadow: 3px 3px 10px #a5f0ed;
}


.fa-car, .hamburguer, p{
    color: rgb(255, 255, 255);
}

.text{
    color: black;
    text-align: center;
    padding: 5px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items:center ;
    background-color: rgb(235, 229, 229);
}

.formt{
    font-size: 15px;
    width: 80%;
    margin-bottom: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 5%;
    border: 0;
}


.btn, h4{
    text-align: center;
}

.btn{
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgb(127, 127, 250);
    margin-bottom: 5px;
    font-size: 15px;
    width: 35%;
    padding: 10px;
    border-radius: 5%;
    border: 0;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;}

ul.pagination li a {
    color: rgb(13, 201, 230);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #d3d1d1;
    align-items: center;
}

.pag {
    text-align: center;
    margin-top: 20px;
}

footer{
    background-color: blue;
    color: white;
    text-align: center;
}

.fa-brands{
    margin: 5px;
    color: white;
}
/*Media Query dispositivos pequeños*/
@media (min-width: 320px) {
    .imagenes{
        grid-template-columns: 1fr;
    }
    li{
        display:none;
    }
    
}
/*Media Query tablet*/
@media (min-width: 576px) {
    main{
        display: grid;
        grid-template-areas: 
        "nav nav nav"
        "header content content"
        "header numeracion numeracion"
        "footer footer footer";
        font-size: sans-serif;
        grid-template-rows: 75px 1fr;
        grid-template-columns: 200px 1fr;
    }
    .imagenes{
        grid-template-columns:1fr 1fr;
        gap: 10px;
    }

    .nav{
        display: flex;
        padding: 25px;
    }

    .menu{
        margin-left: auto;
    }

    .nav li{
        margin-left: 25px;
        display: inline-block;
        list-style: none;
        color: white;
        
    }

    .hamburguer{
        display: none;
    }
}
/*Media Query PC*/
@media (min-width: 998px) {
    main{
        display: grid;
        grid-template-areas: 
        "nav header header"
        "nav content content"
        "nav content content"
        "footer content content";
        grid-template-rows: 75px 1fr;
        grid-template-columns: 200px 1fr;
    }
    .imagenes{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    box-shadow:none;
    }

    .nav{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .formt{
        text-align:left;
    }

    .hamburguer, .pag{
        display: none;
    }

    .menu{
        display: grid;    
    }

    ul li{
        list-style: none;
        color: white;
        text-align: center;
        margin-top: 10px;
    }

    i{
        padding: 5px;
    }
}


/*Nombre de Areas para Template*/
.nav{
    grid-area: nav;
}
header{
    grid-area: header;
}
.imagenes{
    grid-area: content;
}
.pag{
    grid-area: numeracion;
}
footer{
    grid-area: footer;
}